.house{
  padding-top: 40px;
}
.house__description + .house__description{
  margin-top: 10px;
}
.house h2{
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  margin-bottom: 25px;
}
.house__description-first{
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 20px;
}
.slider__house{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__house-photos{
  width: 100%;
  display: flex;
  justify-content: center;
}
.house__slider-prev,
.house__slider-next{
  width: 121px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.house__slider-prev{
  margin-right: auto;
}
.house__slider-next{
  margin-left: auto;
}
.slider__house-front{
  height: 653px;
  border-radius: 32px;
}
.slider__house-photos{
  transform: translateY(-90px);
  z-index: 2;
  overflow: hidden;
}
.slider__house-photos img{
  height: 144px;
  border-radius: 10px;
  border: 2px solid #fff;
}
.slider__house-photos img + img{
  margin-left: 14px;
}
.adress__link{
  display: block;
  font-size: 30px;
  line-height: 38px;
  text-align: right;
}
.description__title{
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
}
.house__description{
  font-size: 20px;
  line-height: 26px;
}
.house__info{
  margin-top: 30px;
  margin-bottom: 70px;
}
.house__info-item{
  display: flex;
}
.house__info-item--left{
  min-width: 250px;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 5px;
}
.house__info-item--right{
  font-size: 20px;
  line-height: 26px;
  margin-top: 5px;
}
.house__timeto{
  margin-bottom: 50px;
}
.house__timeto-title,
.house__services-title{
  font-weight: 700;
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 15px;
}
.house__timeto-item,
.house__services-item{
  font-size: 16px;
  line-height: 19px;
  display: flex;
}
.house__timeto-item + .house__timeto-item{
  margin-top: 15px;
}
.house__timeto-item--left{
  display: flex;
  align-items: center;
  min-width: 622px;
  margin-left: 6px;
}
.house__timeto-item--left img,
.house__services-item img{
  margin-right: 8px;
  width: 28px;
}
.house__services{
  margin-bottom: 50px;
}
.house__services-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.house__services-item{
  align-items: center;
  margin-top: 10px;
}
.apart{
  margin-bottom: 40px;
}
.apart__list{
  margin-top: 50px;
  margin-bottom: 30px;
}
.apart__list-items{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.apart__list-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.apart__list-item img{
  min-width: 11px;
  margin-right: 50px;
}
.apart__list-item a{
  font-size: 16px;
  line-height: 19px;
  color: #1B5498;
}
.apart__items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.apart__items-title{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.apart__item{
  border: 1px solid #B4B1B1;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 23px;
}
.apart__item-content{
  margin: 40px;
}
.apart__item h6{
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 15px;
}
.apart__item-img{
  width: 460px;
  margin: 30px auto;
  display: block;
}
.apart__item-icons{
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.apart__item-icon{
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}
.apart__item-icon img{
  margin-right: 8px;
  width: 28px;
}
.apart__item-man{
  width: 460px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.apart__item-man img{
  width: 11px;
}
.apart__item-buttons{
  display: flex;
  justify-content: center;
}
.apart__item-btn--left,
.apart__item-btn--right{
  display: block;
  min-width: 226px;
  text-align: center;
  padding: 9px 0 14px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  box-shadow: 4px 3px 4px 0px #0000006E;
  border-radius: 36px;
  background: #EEE621;
}
.apart__item-btn--right{
  background: #E4E4E4;
  margin-left: 60px;
} 



@media only screen and (max-width: 1300px){
  .apart__item-content{
    margin: 20px;
  }
  .apart__item-btn--right{
    margin-left: 40px;
  }
  .apart__item-btn--left,
  .apart__item-btn--right{
    min-width: 200px;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 0;
  }
}




@media only screen and (max-width: 1200px){
  .slider__house-front{
    width: 85vw;
    height: auto;
  }
  .slider__house-photos img{
    height: 14vw;
  }
  .house__slider-next img,
  .house__slider-prev img{
    width: 8vw;
  }
  .slider__house-photos{
    transform: translateY(-60%);
  }
}

@media only screen and (max-width: 1100px){
  .hous h2{
    font-size: 36px;
    line-height: 42px;
  }
  .house__description-first,
  .adress__link{
    font-size: 22px;
    line-height: 28px;
  }
  .description__title{
    font-size: 16px;
    line-height: 22px;
  }
  .house__description{
    font-size: 15px;
    line-height: 21px;
  }
  .house__info-item--left,
  .house__info-item--right{
    font-size: 18px;
    line-height: 22px;
  }
  .house__timeto-item--left{
    min-width: 400px;
  }
  .house__services-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.apart__list-item a{
  font-size: 14px;
}
.apart__items-title{
  text-align: center;
}
.apart__items{
  display: block;
}
.apart__item{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}
.apart__item + .apart__item{
  margin-top: 40px;
}
.apart__item h6{
  font-size: 19px;
  line-height: 19px;
}
}




@media only screen and (max-width: 700px){
  .apart__list-items{
    display: block;
  }
}




@media only screen and (max-width: 600px){
  .house__info-item--left{
    min-width: 200px;
  }
  .house__info-item--left, 
  .house__info-item--right {
    font-size: 16px;
    line-height: 20px;
  }
  .house__timeto-item--left{
    min-width: 300px;
  }
  .house__timeto-title{
    font-size: 17px;
  }
  .house__timeto-item{
    font-size: 16px;
  }
  .house__services-item{
    font-size: 14px;
    line-height: 16px;
  }
  .house__timeto-item--left img,
  .house__services-item img,
  .apart__item-icon img{
    width: 18px;
  }
.apart__item-btn--right{
    margin-left: 20px;
}
.apart__item-btn--left,
.apart__item-btn--right{
    min-width: 150px;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 0;
}
.apart__item{
  width: 90vw;
}
.apart__item-img{
  width: 80vw;
}
.apart__item-icons{
  width: 80vw;
}
.apart__item-content{
  margin: 20px;
}
}




@media only screen and (max-width: 500px){
  .apart__item-icon{
    font-size: 12px;
  }
}





@media only screen and (max-width: 450px){
  .hous h2{
    font-size: 22px;
    line-height: 25px;
  }
  .house__description-first,
  .adress__link,
  .description__title{
    font-size: 16px;
    line-height: 20px;
  }
  .house__description,
  .house__info-item--left, 
  .house__info-item--right{
    font-size: 14px;
    line-height: 18px;
  }
  .house__info-item--left{
    min-width: 180px;
  }
  .house__timeto-item--left{
    min-width: 220px;
  }
  .house__timeto-title{
    font-size: 15px;
    line-height: 17px;
  }
  .house__timeto-item{
    font-size: 14px;
    line-height: 17px;
  }
  .house__services-items{
    display: block;
  }
.apart__item-btn--right{
    margin-left: 20px;
}
.apart__item-btn--left,
.apart__item-btn--right{
    min-width: 120px;
    font-size: 12px;
    line-height: 14px;
    padding: 6px 0;
}
.apart__item-content{
  margin: 10px;
}

}






@media only screen and (max-width: 350px){
  .house__info-item--left, 
  .house__info-item--right {
    font-size: 14px;
    line-height: 18px;
  }
  .house__info-item--left{
    min-width: 170px;
  }
  .house__timeto-item--left{
    min-width: 180px;
    max-width: 180px;
  }
  .apart__list-item a{
    font-size: 12px;
  }
  .apart__item{
    width: 95vw;
  }
  .apart__item-img{
    width: 85vw;
  }
  .apart__item-icons{
    width: 85vw;
  }
  .apart__item-btn--right{
    margin-left: 10px;
  }
}