.room {
    padding: 40px 0;
}

.room__main {
    margin-bottom: 80px;
}

.room__main-title {
    font-size: 32px;
    line-height: 38px;
}

.room__main-content {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room__main-slider {
    width: 485px;
    height: 323px;
    background-color: rgb(42, 135, 228);
}

.room__main-btn {
    background-color: #EEE621;
    width: 226px;
    height: 50px;
    box-shadow: 4px 3px 4px 0px #0000006E;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    border-radius: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    border: none;
}

.room__main-inform--item {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #EBE9E9
}

.room__main-inform--item+.room__main-inform--item {
    padding-top: 10px;
}

.room__main-inform--left,
.room__item-inform--item {
    display: flex;
    align-items: center;
}

.room__main-inform--left,
.room__main-inform--right {
    width: 230px;
}

.room__main-inform {
    margin-bottom: 25px;
}

.room__main-inform--item img {
    margin-left: 13px;
    margin-right: 26px;
}

.room__main-facilities {
    margin-bottom: 25px;
}

.room__main-facilities p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    max-width: 440px;
}

.room__main-facilities p+p {
    font-weight: 400;
    margin-left: 30px;
}

.room__main-price--top {
    display: flex;
}

.room__main-price--top p,
.room__main-price--bottom p {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
}

.room__main-price--top p+p {
    font-weight: 400;
    margin-left: 5px;
}

.room__main-price--bottom p {
    font-weight: 400;
    margin-left: 30px;
}

.room__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.room__item {
    padding: 30px;
    border: 1px solid #B4B1B1;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 23px;

}

.room__item-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
}

.room__item-img {
    width: 459px;
    height: 307px;
    background-color: rgb(42, 135, 228);
    border-radius: 14px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.room__item-inform {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}
.room__item-man{
    width: 12px;
    height: 26px;
    background-color: rgb(42, 135, 228);
}
.room__item-buttons{
    display: flex;
    justify-content: center;
}
.room__item-buttons button {
    background-color: #EEE621;
    width: 226px;
    height: 50px;
    box-shadow: 4px 3px 4px 0px #0000006E;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    border-radius: 36px;
    margin-top: 25px;
    border: none;
}
.room__item-buttons button + button{
    color: #162549;
    background-color: #EBE9E9;
    margin-left: 30px;
}